.not_found{
    padding: 100px;
    text-align: center;
}
.not_found h2{
    font-size: 26px;
    margin-bottom: 50px;
}
.not_found a{
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #7da3fb;
    color: #fff;
    font-size: 18px;
    border: none;
}
.not_found img{
    margin: 50px;
}