.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
}

.user{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    border-right: 1px solid #E4E4E4;
    padding-right: 15px;
}
.user div{
    line-height: 17px;
}
.user img{
    width: 46px;
    height: 46px;
    border-radius: 50%;

}
.user p{
    font-size: 16px;
    font-weight: 400;
}
.user span{
    font-size: 14px;
    font-weight: 300;
}
.container{
    margin-top: 50px;
}
.container_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container_header div img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 5px;
}
.container_header div span{
   font-size: 24px;
   font-weight: 400;
}
.container_header button{
    background-color: #55A3F0;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    font-size: 16px;
    border: none;
}
.product_table{
    background-color: #fff;
    border-radius: 30px 30px 30px 30px;
    border: 1px solid #E4E4E4;
    min-height: 450px;
    /* height: 430px;
    overflow-y: scroll; */
    margin-top: 15px;
}
::-webkit-scrollbar{
    width: 1px;
    background-color: transparent;
}
table{
    width: 100%;
    text-align: center;
}
table thead tr th{
    background-color: #F2F2F2;
    padding: 12px 10px;
    font-size: 15px;
    font-weight: 500;
}
table thead th:first-child {
    border-top-right-radius: 30px ;
}
table thead th {
    width: 20%;
}
table thead th:last-child {
    border-top-left-radius: 30px ;
}
table tbody tr td{
    border-bottom: 1px solid #F2F2F2;
    padding: 2px 10px;
}
table tbody tr:last-child tr{
    border-bottom: none;
    padding: 10px 10px;
}
table tbody tr td button{
    border: none;
    background-color: transparent;
    margin: 10px;
}
