.register_container h2{
    text-align: center;
}
.register_box{
    width: 460px;
    height: 500px;
    background-color: #fff;
    border-radius: 40px;
    margin: auto;
    border: 1px solid #E4E4E4;
    margin-top: 50px;
    text-align: center;
}
.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}