.register_container h2{
    text-align: center;
}
.register_box{
    width: 460px;
    height: 550px;
    padding: 30px;
    background-color: #fff;
    border-radius: 40px;
    margin: auto;
    border: 1px solid #E4E4E4;
    margin-top: 50px;
    text-align: center;
}
.register_box h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #282828;
}
.register_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.register_form input{
    width: 400px;
    height: 50px;
    border-radius: 15px;
    background-color: #F2F2F2;
    border: none;
}
.register_form button{
    background-color: #55A3F0;
    color: #fff;
    width: 400px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    border: none;
    margin-top: 22px;
    font-size: 18px;
}
.register_form span{
    font-size: 16px;
    text-align: right !important;
    font-weight: 400;
    color: #3A8BED;
    margin-top: 3px;
}
.error{
    color: red;
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 10px;
}