.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 0.8rem;
    animation: fadeIn 0.3s ease-out;
    z-index: 1000;
  }
  
  .success { background-color: #4BB543; }
  .warning { background-color: #f4c542; }
  .error { background-color: #d9534f; }
  
  .alert button {
    background: transparent;
    border: none;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0px 15px 0 0;
    margin: 0px;
  }
  .fadeOut {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  