.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}
.close{
    display: inline-block;
    text-align: center;
    margin: 30px 50px 0;
    cursor: pointer;
}
.modal_content{
    width: 700px;
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #b9b9b9cc;
    border: 2px solid #b9b9b9;
    border-radius: 10px;
}
.modal_content h3 , .modal_content h4 {
    color: #05055f;
    margin-top: 10px;
}
.modal_content button{
    padding: 5px 20px;
    margin: 30px 20px 20px;
    border: none;
    border-radius: 5px;
}

