.container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a3a3a375;
    backdrop-filter: blur(5px);
}
.close{
    display: inline-block;
    text-align: center;
    margin: 30px 50px 0;
    cursor: pointer;
}
.modal_content{
    width: 460px;
    min-height: 400px;
    margin: auto;
    text-align: center;
    padding: 20px 30px;
    margin-top: 50px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
}
.modal_content h3 , .modal_content h4 {
    color: #282828;
    margin-bottom: 10px;
}
.modal_content h3{
    font-size: 20px;
    font-weight: 500;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.modal_content button{
    width: 50%;
    padding: 10px 40px;
    margin: 30px 10px 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

