.pagination{
    text-align: center;
    margin-top: 50px;
    direction: rtl;
}
.pagination button{
    width: 35px;
    height: 35px;
    line-height: 25px;
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #8D8D8D80;
    color: #8D8D8D80;
}
.active{
    background-color: #55A3F0;
    border-color:#55A3F0 !important;
    color: #fff !important;
}
.disabled{
    opacity: 0.4;
    cursor: auto;
}