.inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 15px;
}
.inputs label{
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.inputs input{
    width: 100%;
    height: 40px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 8px;

}
.error{
    color: red;
    text-align: center;
    font-size: 0.8rem;
}