
@font-face {
  font-family: 'Yekan';
  src:	url('./assets/fonts/Yekan/Yekan.eot'); /* IE9 Compat Modes */
  src:	url('./assets/fonts/Yekan/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('./assets/fonts/Yekan/Yekan.woff2') format('woff2'), /* Modern Browsers */
      url('./assets/fonts/Yekan/Yekan.woff') format('woff'), /* Modern Browsers */
      url('./assets/fonts/Yekan/Yekan.otf') format('opentype'), /* Open Type Font */	
      url('./assets/fonts/Yekan/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
body, html{
  font-family: 'Yekan';
  direction: rtl;
  text-align: right;
  color: #5f5f5f;
}

body {
  max-width: 1200px;
  padding: 25px;
  margin: auto;
  background-color: #F7F8F8;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
a, button{
  font-family: 'Yekan';
  cursor: pointer;
}
input{
  font-family: 'Yekan';
  padding: 0 10px;
}
.success{
  background-color: #0a9e0a;
  color: #fff;
}
.warning{
    background-color: orange;
    color: #fff;
}
.danger{
  background-color: #e81f1f;
  color: #fff;
}
input:focus{
  outline: none;
}

